{% extends "base.html" %}
{% load app_filters %}
{% load static %}

<!--
[General Instructions]
Add new items:
- Add in section idiom > list-group > idiom-item set a name, id, and category classes (one predefined)
- Set the same anchor as the id in order to get a "permanent" No references
- Add a panel in section idioms in col-md-9(copy-paste template) and modify the title panel, tags, and body.
- Set the panel a id from the list ID as: "ID-idiom"

[Template]
<a href="#ID" class="list-group-item idiom-item LABELS" id="ID"><b>NAME</b></a>

<div class="panel panel-primary idiom-panel" id="ID-IDIOM-idiom">
    <div class="panel-heading">
        <h2 class="panel-title">
            NAME-IDIOM
            <span class="label label-default">LABEL-IDIOM</span>
        </h2>
    </div>
    <div class="panel-body">
        <p>DESCRIPTION-IDIOM</p>
        {{ "idioms_examples/FILE-CODE-IDIOM"| pygment_file|safe }}
        <hr>
        <h4>References:</h4>
        <p>[1] LINK </p>
    </div>
</div>
-->

{% block header %}
<link rel="stylesheet" href="/static/css/pygments.css">
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="/">Pythonic <small>ALPHA</small></a>
        </div>


        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" role="presentation">
                    <a href="#" class="dropdown-toggle" id="drop-results" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Results <span class="caret"></span>
                    </a>
                    <div class="dropdown-menu" id="results-dropdown" aria-labelledby="drop-results">
                        <div class="row">
					                  <div class="col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingTwo">
                                        <h4 class="panel-title">
                                            Results of a user
                                        </h4>
                                    </div>
                                    <div class="panel-body">
                                        <form id="user-form-search">
                                            <div class="form-group">
                                                <label for="username">Username</label>
                                                <input type="text" class="form-control" name="username" value="" id="name-user">
                                            </div>
                                            <button type="submit" class="btn btn-primary" id="btn-results-user">Results</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingThree">
                                        <h4 class="panel-title">
                                        Results of a repository
                                        </h4>
                                    </div>
                                    <div class="panel-body">
                                        <form id="repo-form-search">
                                            <div class="form-group">
                                                <label for="username">Username</label>
                                                <input type="text" class="form-control" name="username" value="" id="name-user-repo">
                                                <label for="project">Repository</label>
                                                <input type="text" class="form-control" name="repository" value="" id="name-repo">
                                            </div>
                                            <button type="submit" class="btn btn-primary" id="btn-results-repo">Results</button>
                                        </form>
                                    </div>
                                </div>
		                    </div>
 					    </div>
                    </div>
                </li>
                <li>
                    <a href="/feedback">Feedback</a>
                </li>
                <li>
                    <a href="/catalogue">Catalogue</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
{% endblock %}


{% block content %}

<section id="idioms">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2 class="panel-title">Idioms</h2>
                    </div>
                    <div class="panel-body">
                        <input id="filter-idioms" type="text" name="" value="" placeholder="Find idioms">
                        <div class="list-group" id="list-idioms">
                            <a href="#list-comprehension" class="list-group-item idiom-item performance readability" id="list-comprehension"><b>List comprehension</b></a>
                            <a href="#dict-comprehension" class="list-group-item idiom-item performance readability" id="dict-comprehension"><b>Dict comprehension</b></a>
                            <a href="#decorator" class="list-group-item idiom-item readability" id="decorator"><b>Decorator</b></a>
                            <a href="#magic-methods" class="list-group-item idiom-item readability" id="magic-methods"><b>Magic methods</b></a>
                            <a href="#finally-block" class="list-group-item idiom-item readability" id="finally-block"><b>Finally block</b></a>
                            <a href="#with-statement" class="list-group-item idiom-item readability" id="with-statement"><b>With statement</b></a>
                            <a href="#enumerate" class="list-group-item idiom-item readability" id="enumerate"><b>enumerate</b></a>
                            <a href="#generators" class="list-group-item idiom-item performance" id="generators"><b>Generators</b></a>
                            <a href="#yield-keyword" class="list-group-item idiom-item performance" id="yield-keyword"><b>Yield</b></a>
                            <a href="#generator-expressions" class="list-group-item idiom-item performance readability" id="generator-expressions"><b>Generator expressions</b></a>
                            <a href="#defaultdict" class="list-group-item idiom-item performance readability" id="defaultdict">collections.<b>defaultdict</b></a>
                            <a href="#namedtuple" class="list-group-item idiom-item readability" id="namedtuple">collections.<b>namedtuple</b></a>
                            <a href="#deque" class="list-group-item idiom-item readability performance" id="deque">collections.<b>deque</b></a>
                            <a href="#counter" class="list-group-item idiom-item readability" id="counter">collections.<b>Counter</b></a>
                            <a href="#classmethod-dec" class="list-group-item idiom-item readability" id="classmethod-dec"><b>@classmethod</b></a>
                            <a href="#staticmethod-dec" class="list-group-item idiom-item readability" id="staticmethod-dec"><b>@staticmethod</b></a>
                            <a href="#zip" class="list-group-item idiom-item readability performance" id="zip"><b>zip</b></a>
                            <a href="#itertools" class="list-group-item idiom-item readability performance" id="itertools"><b>itertools</b></a>

                            <!--<a href="#itertools-izip" class="list-group-item idiom-item readability performance" id="itertools-izip">itertools.<b>izip</b></a>
                            <a href="#itertools-iziplong" class="list-group-item idiom-item readability performance" id="itertools-iziplong">itertools.<b>izip_longest</b></a>
                            <a href="#itertools-starmap" class="list-group-item idiom-item" id="itertools-starmap">itertools.<b>starmap</b></a>
                            <a href="#itertools-tee" class="list-group-item idiom-item" id="itertools-tee">itertools.<b>tee</b></a>
                            <a href="#itertools-groupby" class="list-group-item idiom-item readability" id="itertools-groupby">itertools.<b>groupby</b></a>-->
                            <a href="#functools-total_ordering" class="list-group-item idiom-item readability" id="functools-total_ordering">functools.<b>total_ordering</b></a>
                            <a href="#dict" class="list-group-item idiom-item readability performance" id="dict"><b>dictionaries</b></a>
                            <a href="#lambda" class="list-group-item idiom-item readability" id="lambda"><b>lambda</b></a>
                            <a href="#seq-op" class="list-group-item idiom-item performance" id="seq-op"><b>* and + for sequences</b></a>
                            <a href="#str-op" class="list-group-item idiom-item performance" id="str-op"><b>Pythonic operations over strings</b></a>
                            <!--<a href="#map" class="list-group-item idiom-item readability" id="map"><b>map</b></a>
                            <a href="#filter" class="list-group-item idiom-item readability" id="filter"><b>filter</b></a>
                            <a href="#reduce" class="list-group-item idiom-item readability" id="reduce"><b>reduce</b></a>-->
                        </div>
                        <h4>Tags</h4>
                        <span class="label label-primary tag-filter">All</span>
                        <span class="label label-default tag-filter">Readability</span>
                        <span class="label label-default tag-filter">Performance</span>
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <!-- BEGIN List comprehension -->
                <div class="panel panel-primary idiom-panel" id="list-comprehension-idiom">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            List comprehensions
                            <span class="label label-default">Readability</span>
                            <span class="label label-default">Performance</span>
                        </h2>
                    </div>
                    <div class="panel-body">
                        <p>A concise way to create new lists from other sequences, for example applying some operations to each element (like ‘map’ in other languages), or selecting elements that satisfy a certain condition (like ‘filter’ in other languages).</p>
                        {{ "idioms_examples/list_comprehension/listComprehension.py"| pygment_file|safe }}
                        <h3>No Pythonic</h3>
                        {{ "idioms_examples/list_comprehension/bad.py"| pygment_file|safe }}
                        <h3>Pythonic way</h3>
                        {{ "idioms_examples/list_comprehension/good.py"| pygment_file|safe }}
                        <p>It is more readable and also improve the performance:</p>
                        {{ "idioms_examples/list_comprehension/listComprehension_perf.py"| pygment_file|safe }}
                        <hr>
                        <h4>References:</h4>
                        <p>[1] <a href="https://www.python.org/dev/peps/pep-0202/">PEP 202 -  List Comprehensions</a> </p>
                    </div>
                </div>
                <!-- END List comprehension -->

                <!-- BEGIN Dict comprehension -->
                <div class="panel panel-primary idiom-panel" id="dict-comprehension-idiom">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            Dict comprehensions
                            <span class="label label-default">Readability</span>
                            <span class="label label-default">Performance</span>
                        </h2>
                    </div>
                    <div class="panel-body">
                        <p>Is an easy and elegant way to construct a dictionary. Is a similar case as <em>list comprehensions</em> </p>
                        {{ "idioms_examples/dict_comprehension/dict_comprehension.py"| pygment_file|safe }}
                        <h3>No Pythonic</h3>
                        {{ "idioms_examples/dict_comprehension/bad.py"| pygment_file|safe }}
                        <h3>Pythonic way</h3>
                        {{ "idioms_examples/dict_comprehension/good.py"| pygment_file|safe }}
                        <p>It is more readable and also improve the performance:</p>
                        {{ "idioms_examples/dict_comprehension/results_performance.py"| pygment_file|safe }}
                        <hr>
                        <h4>References:</h4>
                        <p>[1] <a href="https://www.python.org/dev/peps/pep-0274/">PEP 274 - Dict Comprehensions</a> </p>
                    </div>
                </div>
                <!-- END Dict comprehension -->

                <!-- BEGIN Decorators -->
                <div class="panel panel-primary idiom-panel" id="decorator-idiom">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            Decorators
                            <span class="label label-default">Readability</span>
                        </h2>
                    </div>
                    <div class="panel-body">
                        <p>A decorator is the name used for a software design pattern. Decorators dynamically alter the functionality of a function, method, or class without having to directly use subclasses or change the source code of the function being decorated. [1]</p>
                        {{ "idioms_examples/decorator/decorator.py"| pygment_file|safe }}
                        <hr>
                        <h4>References:</h4>
                        <p>[1] <a href=https://wiki.python.org/moin/PythonDecorators>https://wiki.python.org/moin/PythonDecorators</a></p>
                        <p>[2] <a href=https://www.python.org/dev/peps/pep-0318/>PEP 318 -- Decorators for Functions and Methods</a></p>
                    </div>
                </div>
                <!-- END Decorators -->

                <!-- BEGIN Magic methods -->
                <div class="panel panel-primary idiom-panel" id="magic-methods-idiom">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            Magic methods
                            <span class="label label-default">Readability</span>
                        </h2>
                    </div>
                    <div class="panel-body">
                        <p>Are special methods that can be invoked by special syntax [1]. For example:</p>
                        {{ "idioms_examples/magic_methods/magic_methods.py"| pygment_file|safe }}
                        <p>That code in Python2 could be improved with the use of the decorator functools.total_ordering</p>
                        <p>A complete list well documented can be found <a href="https://rszalski.github.io/magicmethods/">here</a></p>
                        <hr>
                        <h4>References:</h4>
                        <p>[1] <a href="https://docs.python.org/3.3/reference/datamodel.html#special-method-names">docs.python.org - Special Method Names</a> </p>
                    </div>
                </div>
                <!-- END Decorators -->

                <!-- BEGIN Finally block -->
                <div class="panel panel-primary idiom-panel" id="finally-block-idiom">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            Finally Block
                            <span class="label label-default">Readability</span>
                        </h2>
                    </div>
                    <div class="panel-body">
                        <p>Finally is a optional clause intended for cleaning-up actions. It is always executed before leaving the <em>try</em> statement. For example:</p>
                        {{ "idioms_examples/finally_block/finally.py"| pygment_file|safe }}
                        <hr>
                        <h4>References:</h4>
                        <p>[1] <a href="https://docs.python.org/3/tutorial/errors.html#defining-clean-up-actions">docs.python.org - Defining clean up actions</a> </p>
                    </div>
                </div>
                <!-- END Finally block -->

                <!-- BEGIN With statement -->
                <div class="panel panel-primary idiom-panel" id="with-statement-idiom">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            With statement
                            <span class="label label-default">Readability</span>
                        </h2>
                    </div>
                    <div class="panel-body">
                        <p>The with statement allows you to execute two related operations as a pair, with a block of code in between [1]. Opening a file is the typical example. It opens the file in the <em>with</em> Statement and closes it when the block ends:</p>
                        {{ "idioms_examples/with_statement/with.py"| pygment_file|safe }}
                        <p>But there are more like threading.Lock for threads and you can define your owns context managers with the use of <em>__enter__</em> and <em>__exit__</em> methods in a class or with the use of contextlib library [2]. For example:</p>
                        {{ "idioms_examples/with_statement/with_custom.py"| pygment_file|safe }}
                        <hr>
                        <h4>References:</h4>
                        <p>[1] <a href="http://preshing.com/20110920/the-python-with-statement-by-example/">The <em>with</em> statement by example</a> </p>
                        <p>[2] <a href="https://docs.python.org/3/library/contextlib.html">contextlib - Utilities for with-statements contexts</a> </p>
                        <p>[3] <a href="https://www.python.org/dev/peps/pep-0343/">PEP 343 -- The "with" Statement</a> </p>
                    </div>
                </div>
                <!-- END With statement -->

                <!-- BEGIN enumerate -->
                <div class="panel panel-primary idiom-panel" id="enumerate-idiom">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            enumerate
                            <span class="label label-default">Readability</span>
                        </h2>
                    </div>
                    <div class="panel-body">
                        <p>The built-in enumerate returns a enumerate object from an object that can be iterable. The next method, return a tuple containing a count (from 0 by default) and the the next value of the iterable object. It is useful when you need the index of the iterable. For example:</p>
                        {{ "idioms_examples/enumerate/enumerate.py"| pygment_file|safe }}
                        <hr>
                        <h4>References:</h4>
                        <p>[1] <a href="https://docs.python.org/3/library/functions.html#enumerate">docs.python.org - enumerate built-in</a> </p>
                        <p>[2] <a href="https://www.python.org/dev/peps/pep-0279/">PEP 279 - The enumerate() built-in function</a> </p>
                    </div>
                </div>
                <!-- END enumerate -->

                <!-- BEGIN Generators -->
                <div class="panel panel-primary idiom-panel" id="generators-idiom">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            Generators
                            <span class="label label-default">Performance</span>
                        </h2>
                    </div>
                    <div class="panel-body">
                        <p>Generator functions allow you to define a function that can be used as an iterator. For example:</p>
                        {{ "idioms_examples/generators/generators_1.py"| pygment_file|safe }}
                        <p>You can also define a generator class with the use of <em>__iter__</em> and <em>__next__</em> magic methods</p>
                        <p>A concise way of making generators are generator expressions: <a href="/catalogue#generator-expressions">Generator expressions</a> </p>
                        <p>In the following example you can also see that can improve the performance because it doesn't build the full list in memory.</p>
                        <p>For example:</p>
                        {{ "idioms_examples/generators/generators_2.py"| pygment_file|safe }}
                        <p>To fully understand generators, you should understand the keyword <b>yield</b></p>
                        <hr>
                        <h4>References:</h4>
                        <p>[1] <a href="https://anandology.com/python-practice-book/iterators.html"> Iterators and Generators</a>  </p>
                        <p>[2] <a href="https://wiki.python.org/moin/Generators"> Python Wiki - Generators</a>  </p>
                        <p>[3] <a href="https://jeffknupp.com/blog/2013/04/07/improve-your-python-yield-and-generators-explained/"> Jeff Knupp - Yield and Generators</a>  </p>
                    </div>
                </div>
                <!-- END Generators -->

                <!-- BEGIN Yield -->
                <div class="panel panel-primary idiom-panel" id="yield-keyword-idiom">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            Yield
                            <span class="label label-default">Performance</span>
                        </h2>
                    </div>
                    <div class="panel-body">
                        <p>The keyword <b>yield</b> allows you to write generators. It is used as a return statement, but when you run the funcion, it will just return a generator, the code won't run.</p>
                        <p>Try to undertand the following example:</p>
                        {{ "idioms_examples/yield/yield.py"| pygment_file|safe }}
                        <hr>
                        <h4>References:</h4>
                        <p>[1] <a href="https://www.python.org/dev/peps/pep-0255/">PEP 255 - Simple generators</a> </p>
                        <p>[2] <a href="https://jeffknupp.com/blog/2013/04/07/improve-your-python-yield-and-generators-explained/"> Jeff Knupp - Yield and Generators</a>  </p>
                    </div>
                </div>
                <!-- END Yield -->

                <!-- BEGIN Generator expressions -->
                <div class="panel panel-primary idiom-panel" id="generator-expressions-idiom">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            Generator Expressions
                            <span class="label label-default">Performance</span>
                        </h2>
                    </div>
                    <div class="panel-body">
                        <p>Generator expressions are a concise way to create generators. The syntax is the same as <b>list comprehensions</b> but are more memory efficient because don't store the whole list in memory</p>
                        {{ "idioms_examples/generator_expr/generators.py"| pygment_file|safe }}
                        <hr>
                        <h4>References:</h4>
                        <p>[1] <a href="https://www.python.org/dev/peps/pep-0289/">PEP 289 - Generator Expressions</a> </p>
                    </div>
                </div>
                <!-- END Generator expressions  -->

                <!-- BEGIN defaultdict -->
                <div class="panel panel-primary idiom-panel" id="defaultdict-idiom">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            collections.<b>defaultdict</b>
                            <span class="label label-default">Performance</span>
                            <span class="label label-default">Readability</span>
                        </h2>
                    </div>
                    <div class="panel-body">
                        <p>defaultdict is a subclass of the built-in <em>dict</em> class. The functionality is the same as a dictionary. The powerful is that you can define a default value when the key is not found and it doesn't raise KeyError.</p>
                        <p>For example, with <b>int</b> as default_factory </p>
                        {{ "idioms_examples/defaultdict/defaultdict_int.py"| pygment_file|safe }}
                        <p>With <b>list</b> as default_factory: </p>
                        {{ "idioms_examples/defaultdict/defaultdict_list.py"| pygment_file|safe }}
                        <p>You can use more default values as <b>set</b> or <b>dict</b> and also you can define your own constant function with the use of <b>itertools.repeat</b> [1]</p>
                        <p><b>defaultdict</b> can improve the redability and the maintenance and sometimes the performance, but actually, the keyword <b>in</b> for checking a key in a dictionary is really fast</p>
                        <hr>
                        <h4>References:</h4>
                        <p>[1] <a href="https://docs.python.org/3/library/collections.html#defaultdict-objects">docs.python.org - defaultdict objects</a> </p>
                    </div>
                </div>
                <!-- END defaultdict -->

                <!-- BEGIN namedtuple -->
                <div class="panel panel-primary idiom-panel" id="namedtuple-idiom">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            collections.<b>namedtuple</b>
                            <span class="label label-default">Readability</span>
                        </h2>
                    </div>
                    <div class="panel-body">
                        <p><b>namedTuple is a factory functions for creating tuples with fields that can be accessible by attribute lookup as well as being indexable and iterable [1]</b> They are useful for storing the results of some functions. For example, in the next case it returns a point, but you is not really readable:</p>
                        {{ "idioms_examples/namedTuple/namedTuple_bad.py"| pygment_file|safe }}
                        <p>You can also unpack the point with <code>x, y = get_point()</code>, but you get 2 variables and for multiple points it could be confusing. The alternative is the use of namedTuple:</p>
                        {{ "idioms_examples/namedTuple/namedTuple_ok.py"| pygment_file|safe }}
                        <p>It is more readable, easier to use and more maintainable</p>
                        <hr>
                        <h4>References:</h4>
                        <p>[1] <a href="https://docs.python.org/3/library/collections.html#collections.namedtuple">docs.python.org - namedtuple</a></p>
                    </div>
                </div>
                <!-- END namedtuple -->

                <!-- BEGIN deque -->
                <div class="panel panel-primary idiom-panel" id="deque-idiom">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            collections.<b>deque</b>
                            <span class="label label-default">Performance</span>
                            <span class="label label-default">Readability</span>
                        </h2>
                    </div>
                    <div class="panel-body">
                        <p><b>deque</b> (double-ended-queue) is a generalization of queues and stacks. It supports thread-safe and memory efficient, with approximately O(1) performance.</p>
                        <p>One example of the use of deque methods is shown below:</p>
                        {{ "idioms_examples/deque/deque.py"| pygment_file|safe }}
                        <hr>
                        <h4>References:</h4>
                        <p>[1] <a href="https://docs.python.org/3/library/collections.html#deque-objects">docs.python.org - deque objects</a> </p>
                    </div>
                </div>
                <!-- END deque -->

                <!-- BEGIN counter -->
                <div class="panel panel-primary idiom-panel" id="counter-idiom">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            collections.<b>Counter</b>
                            <span class="label label-default">Readability</span>
                        </h2>
                    </div>
                    <div class="panel-body">
                        <p>Counter is a dict subclass for counting objects. It supports 3 methods: <em>elements()</em>, <em>most_common([n])</em> and <em>substract([iterable-or-mapping])</em> </p>
                        {{ "idioms_examples/counter/counter.py"| pygment_file|safe }}
                        <hr>
                        <h4>References:</h4>
                        <p>[1] <a href="https://docs.python.org/3/library/collections.html#collections.Counter">docs.python.org - Counter</a> </p>
                    </div>
                </div>
                <!-- END counter -->

                <!-- BEGIN classmethod-dec -->
                <div class="panel panel-primary idiom-panel" id="classmethod-dec-idiom">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            @classmethod
                            <span class="label label-default">Readability</span>
                        </h2>
                    </div>
                    <div class="panel-body">
                        <p>A class method is the function that belongs to the class. It receives the class as first argument and doesn't need an instance of the class to be called. <b>@classmethod</b> is a function decorator for a class-method.</p>
                        {{ "idioms_examples/classmethod/classmethod.py"| pygment_file|safe }}
                        <hr>
                        <h4>References:</h4>
                        <p>[1] <a href="https://docs.python.org/3/library/functions.html#classmethod">docs.python.org - classmethod</a> </p>
                    </div>
                </div>
                <!-- END classmethod-dec -->

                <!-- BEGIN staticmethod-dec -->
                <div class="panel panel-primary idiom-panel" id="staticmethod-dec-idiom">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            @staticmethod
                            <span class="label label-default">Readability</span>
                        </h2>
                    </div>
                    <div class="panel-body">
                        <p>A static method doesn't receive an implicit first argument, therefore that method "doesn't have" any reference to the class from inside. <b>@staticmethod</b> is a function decorator for a static-method.</p>
                        {{ "idioms_examples/staticmethod/staticmethodDec.py"| pygment_file|safe }}
                        <hr>
                        <h4>References:</h4>
                        <p>[1] <a href="https://docs.python.org/3/library/functions.html#staticmethod">docs.python.org - staticmethod</a> </p>
                    </div>
                </div>
                <!-- END staticmethod-dec -->

                <!-- BEGIN zip -->
                <div class="panel panel-primary idiom-panel" id="zip-idiom">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            zip
                            <span class="label label-default">readability</span>
                            <span class="label label-default">performance</span>
                       </h2>
                    </div>
                    <div class="panel-body">
                        <p>This built-in returns a generator of tuples, where the i-th tuple contains the i-th element from each of the argument sequences or iterables [1].</p>
                        {{"idioms_examples/zip/zip.py" | pygment_file|safe }}
                        <hr>
                        <h4>References:</h4>
                        <p>[1] <a href="https://docs.python.org/3/library/functions.html#zip">docs.python.org - zip</a> </p>
                    </div>
                </div>
                <!-- END zip -->


                <!-- BEGIN itertools -->
                <div class="panel panel-primary idiom-panel" id="itertools-idiom">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            <b>itertools</b>
                            <span class="label label-default">readability</span>
                            <span class="label label-default">performance</span>
                       </h2>
                    </div>
                    <div class="panel-body">
                        <h3>iziplong</h3>
                        <p>This function is like zip, generate a iterator of tuples from each of the argument sequences. If any sequence is shorter, Generates a new iterator from all the iterables given. If any iterable is shorter, the last tuples are formed from the largest tuple and a default value giver or None.</p>
                        <p>Better explained with one example:</p>
                        {{"idioms_examples/izip_longest/iziplong.py"| pygment_file|safe}}

                        <h3>starmap</h3>
                        <p> <b>starmap</b> is like map (cumputes a function using arguments obtained from iterable arguments), but the difference is that the iterable here is a tuple </p>
                        <p> <code>map(func, iter1, iter2)</code> is similar to <code>starmap(func, map(iter1, iter2))</code> </p>
                        {{"idioms_examples/starmap/starmap.py"| pygment_file|safe}}

                        <h3>tee</h3>
                        <p>This a useful function to return <em>n</em> independent iterators from a single iterator. Important: When a copy is made, the original iterator shouldn't be used because the copies could get advanced without the tee objects being informed</p>
                        {{"idioms_examples/tee/tee.py"| pygment_file|safe}}

                        <h3>groupby</h3>
                        <p>It is useful to group an interable given a function. For example:</p>
                        {{"idioms_examples/group_by/group_by.py"| pygment_file|safe}}

                        <hr>
                        <h4>References:</h4>
                        <p>[1] <a href="https://docs.python.org/3/library/itertools.html#itertools.izip_longest">docs.python.org - izip</a> </p>
                        <p>[2] <a href="https://docs.python.org/3/library/itertools.html#itertools.starmap">docs.python.org - starmap</a> </p>
                        <p>[3] <a href="https://docs.python.org/3/library/itertools.html#itertools.tee">docs.python.org - tee</a> </p>
                        <p>[4] <a href="https://docs.python.org/3/library/itertools.html#itertools.groupby">docs.python.org - groupby</a> </p>


                    </div>
                </div>
                <!-- END itertools -->

                <!-- BEGIN itertools-izip
                <div class="panel panel-primary idiom-panel" id="itertools-izip-idiom">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            itertools.<b>izip</b>
                            <span class="label label-default">readability</span>
                            <span class="label label-default">performance</span>
                       </h2>
                    </div>
                    <div class="panel-body">
                        <p>This function is like zip, except that it returns an iterator instead of a list. Returns an iterator of tuples, where the i-th tuple contains the i-th element from each of the argument sequences or iterables</p>
                        {{"idioms_examples/izip/izip.py"| pygment_file|safe}}
                        Is also faster than zip. If we run the examples from zip and izip, we obtain the similar results multiple times:
                        <pre>
                            zip:  0.00105381011963
                            izip: 0.00050616264343
                        </pre>
                        <hr>
                        <h4>References:</h4>
                        <p>[1] <a href="https://docs.python.org/2/library/itertools.html#itertools.izip">docs.python.org - izip</a> </p>
                    </div>
                </div>
                END itertools-izip -->

                <!-- BEGIN functools-total_ordering -->
                <div class="panel panel-primary idiom-panel" id="functools-total_ordering-idiom">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            functools.<b>@total_ordering</b>
                            <span class="label label-default">readability</span>
                       </h2>
                    </div>
                    <div class="panel-body">
                        <p>Given a class defining one comparison ordering methods (<em>>, <, >=, <=</em>) and <em>==</em> , this class decorator supplies the rest. </p>
                        {{"idioms_examples/total_ordering/total_ordering.py"| pygment_file|safe}}
                        <hr>
                        <h4>References:</h4>
                        <p>[1] <a href="https://docs.python.org/3/library/functools.html#functools.total_ordering">docs.python.org - @total_ordering</a> </p>
                    </div>
                </div>
                <!-- END functools-total_ordering -->

                <!-- BEGIN map -->
                <div class="panel panel-primary idiom-panel" id="map-idiom">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            map
                            <span class="label label-default">Readability</span>
                        </h2>
                    </div>
                    <div class="panel-body">
                        <p>Apply function to every item of iterable and return a list of the results. [1]</p>
                        {{ "idioms_examples/map/map_def.py"| pygment_file|safe }}
                        <h3>No Pythonic</h3>
                        <p>In this case we can see a how to compute the square of a list of numbers</p>
                        {{ "idioms_examples/map/map_bad.py"| pygment_file|safe }}
                        <h3>Pythonic</h3>
                        <p>A better way of doing that is with the use of map. In this case it applies a lambda function:</p>
                        {{ "idioms_examples/map/map_ok.py"| pygment_file|safe }}
                        <p>But the more pythonic way could be done with the use of <a href="/catalogue#list-comprehension">list comprehensions</a> in this case</p>
                        <hr>
                        <h4>References:</h4>
                        <p>[1] <a href="https://docs.python.org/3/library/functions.html#map">docs.python.org - map</a> </p>
                    </div>
                </div>
                <!-- END map -->

                <!-- BEGIN filter -->
                <div class="panel panel-primary idiom-panel" id="filter-idiom">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            filter
                            <span class="label label-default">Readability</span>
                        </h2>
                    </div>
                    <div class="panel-body">
                        <p>Construct a list from those elements of iterable for which function returns true. [1]</p>
                        {{ "idioms_examples/filter/filter_def.py"| pygment_file|safe }}
                        <h3>No Pythonic</h3>
                        {{ "idioms_examples/filter/filter_bad.py"| pygment_file|safe }}
                        <h3>Pythonic</h3>
                        {{ "idioms_examples/filter/filter_ok.py"| pygment_file|safe }}
                        <hr>
                        <h4>References:</h4>
                        <p>[1] <a href="https://docs.python.org/3/library/functions.html#filter">docs.python.org - filter</a> </p>
                    </div>
                </div>
                <!-- END filter -->

                <!-- BEGIN reduce -->
                <div class="panel panel-primary idiom-panel" id="reduce-idiom">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            reduce
                            <span class="label label-default">Readability</span>
                        </h2>
                    </div>
                    <div class="panel-body">
                        <p>Apply function of two arguments cumulatively to the items of iterable, from left to right, so as to reduce the iterable to a single value. [1]</p>
                        {{ "idioms_examples/reduce/reduce_def.py"| pygment_file|safe }}
                        <h3>No Pythonic</h3>
                        {{ "idioms_examples/reduce/reduce_bad.py"| pygment_file|safe }}
                        <h3>Pythonic</h3>
                        {{ "idioms_examples/reduce/reduce_ok.py"| pygment_file|safe }}

                        <hr>
                        <h4>References:</h4>
                        <p>[1] <a href="https://docs.python.org/2/library/functions.html#reduce">docs.python.org - reduce</a> </p>
                    </div>
                </div>
                <!-- END reduce -->

                <!-- BEGIN lambda -->
                <div class="panel panel-primary idiom-panel" id="lambda-idiom">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            lambda
                            <span class="label label-default">Readability</span>
                        </h2>
                    </div>
                    <div class="panel-body">
                        <p>lambda is a keyword of Python that allows to construct anonymus functions in one line</p>
                        <p>The simpliest example can be shown below:</p>
                        {{ "idioms_examples/lambda/lambda_def.py"| pygment_file|safe }}
                        <p>But it can be applied to map, filter and reduce. Or other functions:</p>
                        {{ "idioms_examples/lambda/lambda_sort.py"| pygment_file|safe }}
                        <hr>
                        <h4>References:</h4>
                        <p>[1] <a href="https://docs.python.org/3/tutorial/controlflow.html#lambda-expressions">docs.python.org - lambda</a> </p>
                    </div>
                </div>
                <!-- END lambda -->

                <!-- BEGIN dictionary -->
                <div class="panel panel-primary idiom-panel" id="dict-idiom">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            dictionaries
                            <span class="label label-default">Readability</span>
                            <span class="label label-default">Performance</span>
                        </h2>
                    </div>
                    <div class="panel-body">
                        <p>Dictionaries in Python are like objects in Java. This kind of structures allows you to store items indexed by a key. This structures are basic in Python, and could be very powerful if you know how to manage them.</p>
                        <h3>Get a value.</h3>
                        <p>There are multiple ways, but one idiomatic practice in Python is EAFP (it's Easier to Ask for Forgiveness than Permission). Jeff Knupp explain it in one of his articles [1]. Here we describe multiples examples:</p>
                        <ul>
                            <li>Catching the exception (EAFP):</li>
                            {{ "idioms_examples/dictionaries/dict_catch.py"| pygment_file|safe }}

                            <li>Look Before You Leap (LBYL): Opposite for the EAFP principle:</li>
                            {{ "idioms_examples/dictionaries/dict_eafp.py"| pygment_file|safe }}

                            <li>dict.get(key, default): Try to get the value and if does not exist, retrieve a default value</li>
                            {{ "idioms_examples/dictionaries/dict_get.py"| pygment_file|safe }}
                            <li><a href="#defaultdict">collections.defaultdict</a></li>
                        </ul>

                        <h3>Create a dictionary.</h3>
                        <p>The default way could be with the use of <code>d = dict()</code> or <code>d = {}</code>, but it can be also accomplised with the use of dict comprehensions as we explain in other section:</p>
                        {{ "idioms_examples/dict_comprehension/dict_comprehension.py"| pygment_file|safe }}

                        <h3>Iterate over keys and values:</h3>
                        <p>If you want a copy of the dictionary's list, you can use <code>dict.items()</code> and returns a list with (key, value) pairs.
                        But if you want to iterate over the dictionary is better to use an iterator:</p>
                        {{ "idioms_examples/dictionaries/dict_iter.py"| pygment_file|safe }}

                        <hr>
                        <h4>References:</h4>
                        <p>[1] <a href="https://jeffknupp.com/blog/2013/02/06/write-cleaner-python-use-exceptions/">Jeff Knupp - Write Cleaner Python: Use Exceptions</a> </p>
                    </div>
                </div>
                <!-- END dictionary -->

                <!-- BEGIN seq-op -->
                <div class="panel panel-primary idiom-panel" id="seq-op-idiom">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            * and + for sequences
                            <span class="label label-default">Performance</span>
                        </h2>
                    </div>
                    <div class="panel-body">
                        <p>In order to concatenate multiple copies of the same sequence, the most Pythonic approach is with the use of <code>*</code>:</p>
                        {{ "idioms_examples/seq-op/seq_op_mult.py"| pygment_file|safe }}
                        <p>For concatenating 2 list, the best approach is to sum them up:</p>
                        {{ "idioms_examples/seq-op/seq_op_sum.py"| pygment_file|safe }}
                        <hr>
                        <h4>References:</h4>
                        <p>[1] "Fluent Python" - Using + and * with sequences</p>
                    </div>
                </div>
                <!-- END seq-op -->

                <!-- BEGIN str-op -->
                <div class="panel panel-primary idiom-panel" id="str-op-idiom">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            Pythonic operations over strings
                            <span class="label label-default">Performance</span>
                        </h2>
                    </div>
                    <div class="panel-body">
                        <h2>str.<b>format()</b></h2>
                        <p>Sometimes, for creating a new string is necessary to concatenate multiple strings</p>
                        <h3>No pythonic</h3>
                        {{ "idioms_examples/str-op/str_op_bad_format.py"| pygment_file|safe }}
                        {{ "idioms_examples/str-op/str_op_bad_format_2.py"| pygment_file|safe }}
                        <h3>Pythonic</h3>
                        <p>The best way is the use of .format() method. It has less disadvantages and is more powerful:</p>
                        {{ "idioms_examples/str-op/str_op_ok_format.py"| pygment_file|safe }}

                        <h2>str.<b>join()</b></h2>
                        <p>When you have to concatenate multiple string from a finite sequence, the easiest way could be a for-loop, but there is one better</p>
                        <h3>No Pythonic</h3>
                        {{ "idioms_examples/str-op/str_op_bad_join.py"| pygment_file|safe }}
                        <h3>Pythonic</h3>
                        <p>The use of join is simpliest, with better results and better performance [2]</p>
                        {{ "idioms_examples/str-op/str_op_ok_join.py"| pygment_file|safe }}
                        <hr>
                        <h4>References:</h4>
                        <p>[1] <a href="https://pyformat.info/">Using % and .format() for great good!</a> </p>
                        <p>[2] <a href="https://waymoot.org/home/python_string/">Efficient string concatenation</a> </p>

                    </div>
                </div>
                <!-- END str-op -->



            </div>
        </div>
    </div>
</section>

{% endblock %}
{% block js %}
<script type="text/javascript">
    /*$('#filter-idioms')*/
    $('.idiom-item').click(function (ev) {
        $('.idiom-panel').hide();
        $("#" + $(this).attr("id") + "-idiom").show();
    });
    $('.tag-filter').click(function (ev) {
        ev.preventDefault();
        $('.tag-filter').removeClass('label-primary').addClass('label-default'); /*All to default*/
        $(this).removeClass('label-default').addClass('label-primary'); /*this to primary*/

        var tag = $(this).html().toLowerCase();
        if (tag == "all") {
            $('.idiom-item').show()
        } else {
            $('.idiom-item').hide()
            $('.idiom-item.' + tag).show()
        }
    });
    $(document).ready(function () {
        $('.idiom-panel').hide(); /*hide all panels*/
        var url = document.URL;
        var idx = url.indexOf('#');
        if (idx == -1) {
            return
        }
        var idiom = url.substring(idx+1);
        $("#" + idiom + "-idiom").show();
    });
    $('#filter-idioms').keyup(function (ev) {
        var search = $(this).val();
        var idioms = $('.idiom-item');
        for (var i=0; i< idioms.length; i++){
            if( $(idioms[i]).html().toLowerCase().includes(search) ) {
                $(idioms[i]).show();
            } else {
                $(idioms[i]).hide();
            }
        }
    });

</script>
{% endblock %}
